# Python
.venv/                  #不要把python套件上傳github
__pycache__/
*.pyc

# Environment variables
.env                    #不要把資料庫帳密上傳github

# Data                  #不要把實際下載的大型資料直接放進Git
data/raw/*
data/processed/*

# Power BI
*.pbix

# VS Code
.vscode/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db